/* General styling */

html {
  font-size: 16px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #4A4A4A;
}

a {
  text-decoration: none;
}

main, footer {
  position: relative;
  top: 4rem;
}

h1, h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
  line-height: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3, h4 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.5rem;
}

h5, .hbox span, .button {
  font-size: 1.2rem;
  line-height: 1.5rem;
}

/* General layout for sections, columns and lines */
.section {
  display: flex;
  width: 100%;
  border: 0.05rem solid #EAEBEC;
}

.column {
  display: flex;
  flex-direction: column;
}

.left {
  width: 60%;
  padding: 2rem 1.5rem;
}

.left img, .left video {
  width: 100%;
  height: auto;
}

.right {
  width: 40%;
  padding: 2rem 0;
}

.line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 0 4.5rem;
}

/* Styling for horizontal boxes */
.hbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.hbox .image {
  width: 35%;
}

.hbox img {
  width: 100%;
  height: auto;
}

.detail {
  width: 65%;
  padding: 0 1rem;
}

.hbox .detail h5 {
  margin: 0.5rem 0;
}

.hbox a {
  color: blue;
}

/* Styling for vertical boxes */
.vbox {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.vbox img {
  width: 100%;
  height: auto;
}

.vbox h5 {
  font-weight: 100;
}

/* Header styling */
.header {
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  position: fixed;
  background-color: #FFFFFF;
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.colmar {
  font-weight: 700;
}

.navigation {
  display: flex;
  padding-right: 1.5rem;
}

.navigation span {
  padding-left: 1rem;
}

/* banner styling */
.banner {
  background-color: #D8D8D8;
}

.banner .right {
  justify-content: center;
}

.banner .right h3 {
  margin: 1.5rem 0;
}

.banner h1, .banner h3, .banner span {
  width: 80%;
}

.button {
  background-color: #4A4A4A;
  text-align: center;
  padding: 0.5rem 0;
}

.button a {
  color: #FFFFFF;
}

/* Practicing section styling */
.practicing {
  background-color: #F3F5F5;
}

.practicing .left h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.reference {
  padding-top: 2rem;
}

.lecture, .fisma {
  background-color: #D8D8D8;
}

.practicing .hbox {
  border: 0.05rem solid #EAEBEC;
}

/* Learning section styling */
.learning {
  width: 100%;
  background-color: #EAEBEC;
  padding: 2rem 0;
  align-items: center;
}

.learning h2 {
  text-align: center;
  padding-bottom: 2rem;
}

 .learning {
   flex-direction: column;
 }

.first {
  margin-bottom: 2rem;
}

.computer, .business {
  margin: 0 2rem;
}

.content {
  background-color: #FFFFFF;
  padding: 1rem;
  top: 0;
  height: 100%;
}

.content h4 {
  padding-bottom: 1rem;
}

.content h5 {
  padding-bottom: 0.5rem;
}

/* Exhibit section styling */
.exhibit {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #F3F5F5;
}

.title {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 2rem;
}

.title h2 {
  display: flex;
  text-align: center;
}

.columns {
  display: flex;
  width: 100%;
}

.exhibit .left h4 {
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

/* footer styling */
footer {
  display: flex;
  height: 4rem;
  background-color: #F3F5F5;
}

.copyright, .footer nav {
  display: flex;
}

.footer {
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.footer span {
  padding: 0 0.5rem;
}
